<!DOCTYPE html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<title>Glitch Test</title>
	<link href="styles/style.css" media="screen" rel="stylesheet" type="text/css" />
	<link href="styles/main.css" media="screen" rel="stylesheet" type="text/css" />
</head>
<body onload="onLoad();">
	
	<div class="films">
		<a href="/films/2669">
			<article class="film" data-image-src="http://image.tmdb.org/t/p/w500//mgn1rY1dAKsP4rJ75dX1OzEcW5K.jpg" data-freshness="0.32424999299675816">
				<h1>The Last Waltz</h1>
				<h2>1978</h2>
				<img src="http://image.tmdb.org/t/p/w500//mgn1rY1dAKsP4rJ75dX1OzEcW5K.jpg">
			</article>
		</a>
		<a href="/films/1852">
			<article class="film" data-image-src="http://image.tmdb.org/t/p/w500//iIN2xSq7clFkiz1ph1EbMh4FDmJ.jpg" data-freshness="0.5043867163540625">
				<h1>Pat Garrett &amp; Billy the Kid</h1>
				<h2>1973</h2>
				<img src="http://image.tmdb.org/t/p/w500//iIN2xSq7clFkiz1ph1EbMh4FDmJ.jpg">
			</article>
		</a>
		<a href="/films/1856">
			<article class="film" data-image-src="http://image.tmdb.org/t/p/w500//gwMjlA6R86hgPkUInaxXalPJKkw.jpg" data-freshness="0.8262279201995936">
				<h1>I&#39;m Not There.</h1>
				<h2>2007</h2>
				<img src="http://image.tmdb.org/t/p/w500//gwMjlA6R86hgPkUInaxXalPJKkw.jpg">
			</article>
		</a>
		<a href="/films/2099">
			<article class="film" data-image-src="http://image.tmdb.org/t/p/w500//qBlBhhFMvZIFwRozmkHIfYYmsCG.jpg" data-freshness="0.015701503787729276">
				<h1>Patti Smith: Dream of Life</h1>
				<h2>2008</h2>
				<img src="http://image.tmdb.org/t/p/w500//qBlBhhFMvZIFwRozmkHIfYYmsCG.jpg">
			</article>
		</a>
	</div>

	<script type="text/javascript" src="js/utils.js"></script>
	<script type="text/javascript" src="js/main.js"></script>
	<script type="text/javascript" src="js/GlitchImage.js"></script>
	<script type="text/javascript" src="js/glitch-canvas.min.js"></script>
	
</body>